<!-- 
  Navigation component for the application.
  Sets the active module based on the provided string. This is typically called when a tab is clicked,
  updating the 'moduloActual' variable to reflect the currently selected category.
-->
<ul class="nav nav-tabs px-3 pt-3" id="myTab">
  <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" data-bs-target="#estudiantes"
      onclick="setModulo('estudiante')">Estudiantes</button></li>
  <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#docentes"
      onclick="setModulo('docente')">Docentes</button></li>
  <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#externos"
      onclick="setModulo('externo')">Part. Externos</button></li>
  <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#tesis"
      onclick="setModulo('tesis')">Tesis</button></li>
  <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#eventos"
      onclick="setModulo('evento')">Eventos</button></li>
  <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" data-bs-target="#instituciones"
      onclick="setModulo('institucion')">Instituciones</button></li>
</ul>